<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haibei.dao.lock.LockMapper" >
  <resultMap id="BaseResultMap" type="com.haibei.pojo.lock.Lock" >
    <id column="LOCK_ID" property="lockId" jdbcType="VARCHAR" />
    <result column="LOCK_NAME" property="lockName" jdbcType="VARCHAR" />
    <result column="DOOR_ID" property="doorId" jdbcType="VARCHAR" />
    <result column="LOCK_ADDR" property="lockAddr" jdbcType="VARCHAR" />
    <result column="DEV_ID" property="devId" jdbcType="VARCHAR" />
    <result column="FLOOR_ID" property="floorId" jdbcType="VARCHAR" />
    <result column="LOCK_FLAG" property="lockFlag" jdbcType="DECIMAL" />
    <result column="LOCK_MEMO" property="lockMemo" jdbcType="VARCHAR" />
    <result column="LOCK_STATUS" property="lockStatus" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE" property="lastUpdate" jdbcType="VARCHAR" />
    <result column="WATER_NO" property="waterNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOCK_ID, LOCK_NAME, DOOR_ID, LOCK_ADDR, DEV_ID, FLOOR_ID, LOCK_FLAG, LOCK_MEMO, LOCK_STATUS, 
    LAST_UPDATE, WATER_NO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haibei.pojo.lock.LockExample" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HAIBEI_LOCK.HAIBEI_LOCK_T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HAIBEI_LOCK.HAIBEI_LOCK_T
    where LOCK_ID = #{lockId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HAIBEI_LOCK.HAIBEI_LOCK_T
    where LOCK_ID = #{lockId}
  </delete>
  <delete id="deleteByExample" parameterType="com.haibei.pojo.lock.LockExample" >
    delete from HAIBEI_LOCK.HAIBEI_LOCK_T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haibei.pojo.lock.Lock" >
    insert into HAIBEI_LOCK.HAIBEI_LOCK_T (LOCK_ID, LOCK_NAME, DOOR_ID, LOCK_ADDR, DEV_ID, FLOOR_ID, LOCK_FLAG, 
      LOCK_MEMO, LOCK_STATUS, LAST_UPDATE, WATER_NO)
    values (#{lockId}, #{lockName}, #{doorId}, #{lockAddr}, #{devId}, #{floorId}, #{lockFlag}, 
      #{lockMemo}, #{lockStatus}, #{lastUpdate}, #{waterNo})
  </insert>
  <insert id="insertSelective" parameterType="com.haibei.pojo.lock.Lock" >
    insert into HAIBEI_LOCK.HAIBEI_LOCK_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lockId != null" >
        LOCK_ID,
      </if>
      <if test="lockName != null" >
        LOCK_NAME,
      </if>
      <if test="doorId != null" >
        DOOR_ID,
      </if>
      <if test="lockAddr != null" >
        LOCK_ADDR,
      </if>
      <if test="devId != null" >
        DEV_ID,
      </if>
      <if test="floorId != null" >
        FLOOR_ID,
      </if>
      <if test="lockFlag != null" >
        LOCK_FLAG,
      </if>
      <if test="lockMemo != null" >
        LOCK_MEMO,
      </if>
      <if test="lockStatus != null" >
        LOCK_STATUS,
      </if>
      <if test="lastUpdate != null" >
        LAST_UPDATE,
      </if>
      <if test="waterNo != null" >
        WATER_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lockId != null" >
        #{lockId},
      </if>
      <if test="lockName != null" >
        #{lockName},
      </if>
      <if test="doorId != null" >
        #{doorId},
      </if>
      <if test="lockAddr != null" >
        #{lockAddr},
      </if>
      <if test="devId != null" >
        #{devId},
      </if>
      <if test="floorId != null" >
        #{floorId},
      </if>
      <if test="lockFlag != null" >
        #{lockFlag},
      </if>
      <if test="lockMemo != null" >
        #{lockMemo},
      </if>
      <if test="lockStatus != null" >
        #{lockStatus},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate},
      </if>
      <if test="waterNo != null" >
        #{waterNo},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haibei.pojo.lock.LockExample" resultType="java.lang.Integer" >
    select count(*) from HAIBEI_LOCK.HAIBEI_LOCK_T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HAIBEI_LOCK.HAIBEI_LOCK_T
    <set >
      <if test="record.lockId != null" >
        LOCK_ID = #{record.lockId},
      </if>
      <if test="record.lockName != null" >
        LOCK_NAME = #{record.lockName},
      </if>
      <if test="record.doorId != null" >
        DOOR_ID = #{record.doorId},
      </if>
      <if test="record.lockAddr != null" >
        LOCK_ADDR = #{record.lockAddr},
      </if>
      <if test="record.devId != null" >
        DEV_ID = #{record.devId},
      </if>
      <if test="record.floorId != null" >
        FLOOR_ID = #{record.floorId},
      </if>
      <if test="record.lockFlag != null" >
        LOCK_FLAG = #{record.lockFlag},
      </if>
      <if test="record.lockMemo != null" >
        LOCK_MEMO = #{record.lockMemo},
      </if>
      <if test="record.lockStatus != null" >
        LOCK_STATUS = #{record.lockStatus},
      </if>
      <if test="record.lastUpdate != null" >
        LAST_UPDATE = #{record.lastUpdate},
      </if>
      <if test="record.waterNo != null" >
        WATER_NO = #{record.waterNo},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HAIBEI_LOCK.HAIBEI_LOCK_T
    set LOCK_ID = #{record.lockId},
      LOCK_NAME = #{record.lockName},
      DOOR_ID = #{record.doorId},
      LOCK_ADDR = #{record.lockAddr},
      DEV_ID = #{record.devId},
      FLOOR_ID = #{record.floorId},
      LOCK_FLAG = #{record.lockFlag},
      LOCK_MEMO = #{record.lockMemo},
      LOCK_STATUS = #{record.lockStatus},
      LAST_UPDATE = #{record.lastUpdate},
      WATER_NO = #{record.waterNo}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haibei.pojo.lock.Lock" >
    update HAIBEI_LOCK.HAIBEI_LOCK_T
    <set >
      <if test="lockName != null" >
        LOCK_NAME = #{lockName},
      </if>
      <if test="doorId != null" >
        DOOR_ID = #{doorId},
      </if>
      <if test="lockAddr != null" >
        LOCK_ADDR = #{lockAddr},
      </if>
      <if test="devId != null" >
        DEV_ID = #{devId},
      </if>
      <if test="floorId != null" >
        FLOOR_ID = #{floorId},
      </if>
      <if test="lockFlag != null" >
        LOCK_FLAG = #{lockFlag},
      </if>
      <if test="lockMemo != null" >
        LOCK_MEMO = #{lockMemo},
      </if>
      <if test="lockStatus != null" >
        LOCK_STATUS = #{lockStatus},
      </if>
      <if test="lastUpdate != null" >
        LAST_UPDATE = #{lastUpdate},
      </if>
      <if test="waterNo != null" >
        WATER_NO = #{waterNo},
      </if>
    </set>
    where LOCK_ID = #{lockId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haibei.pojo.lock.Lock" >
    update HAIBEI_LOCK.HAIBEI_LOCK_T
    set LOCK_NAME = #{lockName},
      DOOR_ID = #{doorId},
      LOCK_ADDR = #{lockAddr},
      DEV_ID = #{devId},
      FLOOR_ID = #{floorId},
      LOCK_FLAG = #{lockFlag},
      LOCK_MEMO = #{lockMemo},
      LOCK_STATUS = #{lockStatus},
      LAST_UPDATE = #{lastUpdate},
      WATER_NO = #{waterNo}
    where LOCK_ID = #{lockId}
  </update>
</mapper>